@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

video::-webkit-media-controls {
    display: none !important;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.animate-fade-out {
    animation: fade-out 0.2s forwards;
}

@layer base {
    html,
    body,
    #__next {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
}
